<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Student Information System</title>
</head>
<body>
  <h1> Student Information System </h1>
  <form action="http://127.0.0.1:5000/result" method="POST">
    <label>Student Name</label>
    <input type="text" name="Name"/>
    <br><br>
    <label>English</label>
    <input type="text" name="english"/>
    <br><br>
    <label>Hindi</label>
    <input type="text" name="hindi"/>
    <br><br>
    <label>Marathi</label>
    <input type="text" name="marathi"/>
    <br><br>
    <label>Biology</label>
    <input type="text" name="biology"/>
    <br><br>
    <label>Chemistry</label>
    <input type="text" name="chemistry"/>
    <br><br>

    <input type="submit" value="Submit"/>

  </form>
</body>
</html>